.smallicon {
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    list-style-type: none;
    background-color: blanchedalmond;
    text-align: center;
}

.li {
    display: inline-block;
    padding: 20px;
    color: darkgreen;
}

.dropdown1 , .dropdown2 , .dropdown3, .dropdown4 , .dropdown5{    
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20;
    border: 1px solid green;
    width: 1500px;
    z-index: 1; 
    text-align: left;  
    list-style-type: none;
}

/* 小超人 */
#smart{
    position: fixed;
    right: 0;
    bottom: 20px;       
}


.dropdown1:hover,.dropdown2:hover,.dropdown3:hover,.dropdown4:hover{    
    display: block;
    position: absolute;
    left: 0;
}

#li1:hover+.dropdown1{
    display: block;
    position: absolute;
    left: 0;
   
}
#li2:hover:hover+.dropdown2{
    display: block;
    position: absolute;
    left: 0;
}
#li3:hover:hover+.dropdown3{
    display: block;
    position: absolute;
    position: absolute;
    left: 0;
}
#li4:hover:hover+.dropdown4{
    display: block;
    position: absolute;
    left: 0;
}
#li5:hover:hover+.dropdown5{
    display: block;
    position: absolute;
    left: 0;;
}

.hots{
    height: 200px;
    width: 200px;
    display: inline-block;   
    background-size: contain; 
    background-repeat: no-repeat;

}
.blockp{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    
}
.textt{
    border: 1px solid darkgreen;
    height: 150px;
    position: relative;
    top: -40px;

}